.DS_Store  

node_modules/ 

dist/ 



brief_notes.md   

brief_notes.txt     

block_ui_notes.md  

images/readme      

review_notes.txt  


modal_forms_notes.md 

responsive_considerations.md  

grid_and_flexbox_considerations.md  

git_add.txt 


html_hold.txt 


sprint_8_instructions.txt 


