:root {
  --color-primary-white: #ffffff;
  --color-background: #fcf5e5;
  --color-button-text: #212121;
}

.header {
  background-color: var(--color-primary-white);
  height: 2.875rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.25rem;
  box-sizing: border-box;
}

.header__logo {
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 630px) {
  .header {
    height: 2.875rem;
    padding: 0 1.25rem;
  }

  .header__logo {
    max-height: 1.625rem;
    max-width: 6rem;
  }
}
