.footer {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3.75rem;
  padding-top: 3.75rem;
  box-sizing: border-box;
}

.footer__text {
  margin: 0;

  height: 1rem;
  font-size: 1rem;
  line-height: 1;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
  color: #212121;
}

@media screen and (max-width: 630px) {
  .footer__text {
    font-size: 0.875rem;
    height: auto;

    margin: 0 auto;
  }
}
