* {
  box-sizing: border-box;
}

.page {
  background-color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.page * {
  max-width: 100%;
}
